NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
RESEND_API_KEY=re_BqfcmK2q_BX5VuzyD9VaZ8Xi3kn4dtEdx
NEXT_PUBLIC_SITE_URL=http://localhost:3000
RESEND_FROM_EMAIL=GeorgeTech Holdings <updates@georgetechholdings.co.zw>
NEXT_PUBLIC_SITE_URL=https://www.georgetechholdings.co.zw